@font-face {
  font-family: "Source Sans Pro";
  src: url('../font/SourceSansPro-Regular.otf');
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('../font/SourceSansPro-Light.otf');
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url('../font/SourceSansPro-Semibold.otf');
  font-weight: 600;
}

html {
  font-size: 12px;
}

/*body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro",
  "HelveticaNeue-Light",
  "Helvetica Neue Light",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Lucida Grande",
  sans-serif;
  font-weight: 400;
  background: hsla(200, 2%, 30%, 1);
}*/

:focus {
  outline-color: transparent;
  outline-style: none;
}

.topcoat-select {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.topcoat-select {
  vertical-align: top;
  outline: none;
}

.topcoat-select {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topcoat-select {
  box-sizing: border-box;
  background-clip: padding-box;
}

.topcoat-select {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.topcoat-select:disabled {
  opacity: .3;
  cursor: default;
  pointer-events: none;
}

.topcoat-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.topcoat-select::-ms-expand {
  display: none;
}

.topcoat-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  text-indent: 1px;
  text-overflow: '';
  padding: .25rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.313rem;
  letter-spacing: 0;
  color: hsla(180, 2%, 78%, 1);
  text-shadow: 0 -1px hsla(0, 0%, 0%, .69);
  vertical-align: top;
  border-radius: 4px;
  background-color: hsla(180, 1%, 35%, 1);
  box-shadow: inset 0 1px hsla(0, 0%, 45%, 1);
  border: 1px solid hsla(180, 1%, 20%, 1);
  background-repeat: no-repeat;
  background-position: center right;
  min-width: 3.4rem;
}

.topcoat-select:hover {
  background-color: hsla(200, 2%, 39%, 1);
}

.topcoat-select:active {
  background-color: hsla(210, 2%, 25%, 1);
  box-shadow: inset 0 1px hsla(0, 0%, 0%, .05);
}

.topcoat-select:focus {
  border: 1px solid hsla(227, 100%, 50%, 1);
  box-shadow: 0 0 0 2px hsla(208, 82%, 69%, 1);
  outline: 0;
}