 /* Style The Dropdown Button */
.dropbtn {
    background-color: #333333;
    color: white;
    padding: 15px;
    font-size: 10px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
    font-family: "Arial", Arial, serif;
    font-size: 8pt;
    line-height:2px;
    border:none;

    width: 120px;
    height: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 10px;
    margin-left: 15px;




}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444444;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    width: 50px;
    height: 300px;
    z-index: 1;
    overflow: auto;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #444444}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #333333;
}