.header {

    flex-direction:row;
    justify-content: center;
    height: 10%;
    margin-top: -30px;
    margin-bottom: 0px;
    display: inline-flex;
    width: 50%;
    margin-left: 100px;


    color: white;
    font-family: "Arial", Arial, serif;
    font-size: 11pt;
    font-weight: bold;
    text-align: left;
    align-content: center;
    vertical-align: middle;

}

.headWhite{
    color: white;
}

.headGrey{
    color: #777777;
}

.header li {
    text-align:center;
    font-size: 14px;
    padding-left: 20px;
    cursor:pointer;
    float: left;
    list-style: none;
    font-weight: 400;
    border-left:0px solid rgba(0,0,0,.1);
    background-color:none;
    transition:background-color ease-in-out .5s;
    -moz-transition:background-color ease-in-out .5s;
    -webkit-transition:background-color ease-in-out .5s;
    -o-transition:background-color ease-in-out .5s;

}
.header li a,a:visited,a:hover {
    color: white;
    text-decoration:none;
}
.header li:first-child {
    border-left:none;
}

.header li:hover {
    color: #3b9cdd;
}
.header li.active {
    color: #3b9cdd;
}

/*img {width: 3%;  margin-left: 10px;}*/

#headImg {width: 4%;  margin-left: 3px; padding:2px}

input {float:right;}

#search_inutile{
    float:right;
}