body{
    background-color : #222222;
}

.textlogin{
    color: #FFFFFF;
}

.loginlogo{
    color:#1e7dc8;
}

.buttonlogin{
    background-color: #1e7dc8;
    border-color: #3b9cdd;
}

.buttonlogin:hover{
    background-color: #3b9cdd;
    border-color: #3b9cdd;
}