#module1_live {
    /*Internal Organization*/
    display: flex;
    flex-direction: row;
    overflow: auto;


    /*Dimension*/
    height:345px;
    width: 120px;


    margin-right: 5px;

    font-family: "Arial", Arial, serif;
    font-size: 10pt;

    background-color: #333333;


}

#module1wrap_live {
    /*Internal Organization*/
    display: flex;
    flex-direction: column;
    overflow: auto;

    /*Dimension*/
    width : 120px;
    height:345px;
    margin: 0;


    font-family: "Arial", Arial, serif;
    font-size: 10pt;

    background-color:#333333;

    color:#fff;



}

#markets-title{
    margin-left:12px;
    margin-top:5px;

    font-family: "Arial", Arial, serif;
    font-size: 12pt;

}

.divpays{
    display:flex;
    flex-direction:column;
    font-family: "Arial", Arial, serif;
    font-size: 10pt;
    background-color:#444444;

    width: 120px;

}

.div_lettres{
    display:flex;
    flex-direction:column;
    font-family: "Arial", Arial, serif;
    font-size: 10pt;
    color: lightgrey;
    background-color:#333333;
}

.button_market{
    color:white;
    background-color:#333333;
    border: 0px solid white;
    text-align:left;
    font-family: "Arial", Arial, serif;
    font-size: 10pt;
    height:25px;


    justify-content: space-between;


}

.div_container_pays{
    display:flex;
    flex-direction:column;



}

.div_container_infoPays{
    display:flex;
    flex-direction:row;
    background-color:#444444;
    color:#999999;
    height:20px;

    padding:1px;


}