#module1 {
    /*Internal Organization*/
    display: flex;
    flex-direction: row;
    overflow: auto;
    overflow-x: hidden;

    /*Dimension*/
    height:90%;

    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    font-family: "Arial", Arial, serif;
    font-size: 10pt;

    background-color: #333333;

    border-left: solid #242323 0.5pt;
    border-right: solid #242323 0.5pt;
    border-top: solid #242323 0.5pt;
    border-bottom: solid #242323 0.5pt;

}

#module1wrap {
    /*Internal Organization*/
    display: flex;
    flex-direction: column;
    overflow: auto;

    /*Dimension*/
    width : 15%;
    height:99%;
    margin: 0;
    min-width: 160px;
    min-height: 390px;


    font-family: "Arial", Arial, serif;
    font-size: 10pt;

    background-color: #444444;

    color:#fff;

}

.buttonModule1{
    color: #fff;
}

#markets-title{
    margin-left:12px;
    margin-top:5px;

    font-family: "Arial", Arial, serif;
    font-size: 12pt;

}

.divpays{
    display:flex;
    flex-direction:column;
    font-family: "Arial", Arial, serif;
    font-size: 10pt;
    background-color:#444444;

    width: 500px;

}

.div_lettres{
    display:flex;
    flex-direction:column;
    font-family: "Arial", Arial, serif;
    font-size: 10pt;
    color: lightgrey;
    background-color:#333333;
}

.button_market{
    color:white;
    background-color:#333333;
    border: 0px solid white;
    text-align:left;
    font-family: "Arial", Arial, serif;
    font-size: 10pt;
    height:32px;


    justify-content: space-between;

    border-bottom: solid #242323 0.5pt;


}

.div_container_pays{
    display:flex;
    flex-direction:column;



}

.div_container_infoPays{
    display:flex;
    flex-direction:row;
    background-color:#444444;
    color:#999999;
    height:20px;

    border-bottom: solid #242323 0.5pt;
    padding:1px;


}