
#module2{
    /* Internal Organisation */
    display: inline-block;
    flex-direction: column;
    overflow: auto;

    /*Dimension*/

    height: 90%;

    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    font-family: "Arial", Arial, serif;
    font-size: 9pt;

    background-color: #333333;
}

.oldDate{
    display: inline-block;
    flex-direction: column;
}

.newDate{
    display: inline-block;
    flex-direction: column;
}


#module2wrap {
    /* Internal Organisation */
    display: flex;
    flex-direction: column;
    overflow: auto;

    /*Dimension*/
    width: 33.5%;
    height:99%;
    min-width: 300px;
    min-height: 390px;

    /*Séparer les 3 modules*/

    background-color: #444444;
    color:#ffffff;
}


#instruments-title{
    margin-left:12px;
    margin-top:5px;

    font-family: "Arial", Arial, serif;
    font-size: 12pt;
}

.instrument {
    /* Internal Organisation */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*Mettre les lignes entre les tickers*/
    border-top: solid #242323 0.5pt;
    padding:7px;
}

.buttonModule2 {
    /* Internal Organisation */
    /* Dimension */
    display: inline-block;
    flex-direction: column;
    width: 20px;
    color : #fff;


}

.oldDate,newDate {
    /* Dimension */
    width: 20px;
    color : #fff;
}

.newDate{
    color : #fff;
}


#instrumentHead, #startHead, #endHead{
    float:left;
    color: #737373;

    font-size: 8pt;
    margin-top:5px;

}

#instrumentHead {
    margin-left: 10px;
    width: 57%;
}

#startHead {
    width: 27%;
}

#endHead{
    float:none;
    margin-bottom:18px;
}

.image_sizing{
    width:5%;
    height:5%;
    margin-top:-4px;
}