#module3_live {
    /*Internal Organization*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*Dimension*/

    font-size: 10.5pt;

    height:99%;

    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    font-family: "Arial", Arial, serif;
    font-size: 10pt;

    background-color: #333333;

}

#module3wrap_live {
    /* Internal Organisation */
    display: flex;
    flex-direction: column;

    /*Dimension*/
    width: 64.5%;
    height: 99%;
    min-width: 536px;
    min-height: 515px;

    background-color: #444444;
}



#tools{
    background-color: #444444;
    margin-left:10px;
    height:27px;
}

#ticker_name{
    margin-left : 10px;
    color: red;
    font-size: 11pt;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

#strat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#recherche {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3px;
    margin-bottom: 8px;

    font-size: 10pt;
}

.nomargin {
    margin: 0;
    color: #848484;
}

#container {
    min-width: 600px;
}

#market_open {
    visibility: hidden;
}

#p_volume, #p_open, #p_close, #p_date, #p_change, #p_high, #p_day_range, #p_low, #p_trade, #p_instr, #p_sector{
    color:#ffffff;
}

#button_trade_live{
    visibility:hidden;
    margin-top: -3px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.topcoat-button--large--cta {
    font-size: 0.87rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 0 0.875rem;
}
