.feedEkList{
    width:30%;
    list-style:none outside none;
    background-color:#444444;
    padding:4px 6px;
    margin-top:20px;
    color:white;
}

.feedEkList li{border-bottom:1px solid #D3CAD7; padding:5px;}

.feedEkList li:last-child{border-bottom:none;}

.itemTitle a{font-weight:bold; color:#4EBAFF !important; text-decoration:none }

.itemTitle a:hover{ text-decoration:underline }

.itemDate{font-size:11px;color:#AAAAAA;}


.news_money{
    background-color:#333333;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    overflow: scroll;

}

.news_money_wrap{
    background-color: #444444;
    width:32%;
    margin-right:1%;
    float:left;
    height: 700px;

    overflow: scroll;
    height: 99%;
}

.news_business{
    background-color:#333333;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    overflow: scroll;
}

.news_business_wrap{
    background-color: #444444;
    width:32%;
    margin-right:1%;
    float:left;
    height: 99%;

    overflow: scroll;
}

.news_politics{
    background-color:#333333;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    overflow: scroll;


}

.news_politics_wrap{
    background-color: #444444;
    width:32%;
    float:left;
    height: 69%;
    margin-bottom:15px;
    overflow: scroll;
}


.news_company{
    background-color:#333333;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;

    overflow: scroll;
}

.news_company_wrap{
    background-color: #444444;
    width:32%;
    float:left;
    height: 27.5%;


    overflow: scroll;
}

.modules_news{

    margin-left:20px;
    height: 89%;

}


