#orders{
    /* Internal Organisation */
    display: flex;
    flex-direction: column;
    overflow: auto;

    /*Dimension*/

    width:98.5%;
    height: 80%;

    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0.8%;
    margin-right: 1%;

    font-family: "Arial", Arial, serif;
    font-size: 9pt;

    background-color: #333333;
}


#orderswrap {
    /* Internal Organisation */
    display: flex;
    flex-direction: column;
    overflow: auto;

    /*Dimension*/
    width: 99.5%;
    min-height: 100px;
    max-height: 145px;


    background-color: #444444;
    color:#ffffff;
    margin-left: 0.2%;
    margin-right:0.2%;

    height: 20%;


}

#orders-title{
    margin-left:14px;
    margin-top:3px;

    font-family: "Arial", Arial, serif;
    font-size: 12pt;
    height: 10%;
}

.div_order{
    border-bottom: solid #242323 0.5pt;
    padding: 2px;
    display: inline-block;
    flex-direction: column;
    height:90%;
}

.div_order_date{
    display: inline-block;
    flex-direction: column;
    margin-left:10px;
}

.div_order_name{
    display: inline-block;
    flex-direction: column;
    margin-left:10%;
}

.div_order_operation{
    display: inline-block;
    flex-direction: column;
    margin-left:10%;
    margin-right:10%;
}

.div_order_price{
    display: inline-block;
    flex-direction: column;
    margin-right:10%;
}

.div_order_share{
    display: inline-block;
    flex-direction: column;
    margin-right:10%;
}

.div_order_fee{
    display: inline-block;
    flex-direction: column;
}

.div_order_fee{
    display: inline-block;
    flex-direction: column;
}

.img_sizing_order{
    display: inline-block;
    flex-direction: column;
    margin-right: 10%;
}

.orders-info{
    font-family: "Arial", Arial, serif;
    font-size: 9pt;
    margin-left: 1%;
    margin-right: 10px;
    text-align: left;
    margin-bottom: 0.1%;
    height: 10%;
    min-height: 14px;
}

