body{
    background-color : #222222;
}

.textsignup{
    color: #FFFFFF;
}

.signuplogo{
    color:#1e7dc8;
}

.buttonsignup{
    background-color: #1e7dc8;
    border-color: #3b9cdd;
}

.buttonsignup:hover{
    background-color: #3b9cdd;
    border-color: #3b9cdd;
}