#modules {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0.2%;
    margin-right:0.2%;
    background-color: #222222;
    min-height: 380px;

    height: 70%;




}

html,body {
    background-color: #222222;
    height:100%;
    margin:0;
    padding:0;
    width: 100%;

}

#logout{
    float: right;
    margin-top: 20px;
    margin-right: 5px;
    font-family: "Arial", Arial, serif;
}