.flex_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

#ticket {
    visibility: hidden;
    height: 525px;
    width: 400px;
    /*position: fixed;*/
    background-color: #444444;
    border-radius: 10px;
}

#cache_trade {
    visibility: hidden;
    font-family: "Arial", Arial, serif;
    font-size: 10pt;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(30,30,30,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Body */
#ticker_ticket, #money{
    background-color: #444444;
}

#date_para, #market {
    font-size: 10pt;
}

.ticker-days {
    font-size: 10pt;
}

#info_ticker{
    margin-left: 5px;
    margin-right: 5px;
}

/* Head */
#ticket-title{
    font-size: 12pt;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#ticker_ticket{
    position: absolute;
    background-color: #333333;
    margin-left: 10px;
    margin-top:40px;
    width: 365px;
    padding-left: 5px;
}

#name_ticker_ticket{
    background-color: #333333;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    color: #ff0000;
}

/* Datas */
#money, #market {
    background-color: #333333;
    margin-left: 10px;
    margin-right: 10px;
}

#market{
    color: #757575;
    border-top: solid #444444 2pt;
    padding-left: 5px;
    padding-right: 5px;
}

#money{
    position: relative;
    margin-top: -10px;
    padding-left: 5px;
    padding-right: 5px;
}

#ticket_top_2{
    font-size: 12pt;
}

#account, #currency, #low_high{
    color: #ffffff;
}

.dataTitle{
    color: #858585;
}

/* Days trading */
#title_date, #date_para{
    margin-left: 5px;
    margin-right: 5px;
}

#title_date{
    color: #757575;
    border-bottom: solid #444444 2pt;
}

#date_para{
    color: #ffffff;
}

#date{
    background-color: #444444;
    margin-bottom: 5px;
}

#dateIn{
    background-color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Choix Strat-Option-Share-SL */
.carre_parameters{
    background-color: #666666;
    width: 175px;
}

#option, #stoploss{
    margin-top: 10px;
}

#strateg, #option{
    margin-left: 10px;
    padding-left: 5px;
    height: 60px;
}

#shares, #stoploss{
    margin-right: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 55px;
}

#stop_loss, #shares_ticket {
    border: 0px;
    margin-right: 5px;
}

.options {
    margin-bottom: 5px;
    font-size: 10pt;
}

.topcoat-text-input {
    line-height: 1.313rem;
    font-size: 12px;
    letter-spacing: 0;
    padding: 0 0.563rem;
    border: 1px solid #333434;
    border-radius: 4px;
    background-color: #454646;
    box-shadow: inset 0 1px rgba(0,0,0,0.05);
    color: #c6c8c8;
    vertical-align: top;
}

/* Boutons inférieurs Cancel/Trade */
#section{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.topcoat-button--large--cta {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.688rem;
    padding: 0 0.875rem;
}

.topcoat-button--large {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.688rem;
    padding: 0 0.875rem;
}